body{
	background-color: white;
	width: 100%;
	height: auto; margin: 0;
}
.menu{
	background-color: #6BB9F0;
	width: 100%;
	height: 60px;
}
ul{
	width: 100%;
	height: 60px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	padding-top: 20px;
}
li a{
	padding-left: 15px;
	font-family: Arial;
	text-decoration: none;
	color: white;
}
.header-home{
	width:100%;
	background-color: #336E7B;
	height: 510px;
	margin-left: auto;
	margin-right: auto;
}
#title-home{
	font-family: Arial;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 6em;
}
#title-home > img {
	width:60px;
	height:60px;

}
.skill-home{
	width: 100%
	height: 400px;
	text-align: center;
}
#skill-title{
	font-family: Arial;
	font-size: 26px;
	font-weight: 400;
	color: #6C7A89;
	padding-left:2em;
	padding-right: 2em;
	padding-top: 2em;
}
#skill-image > img {
	margin-top: 2em;
	width: 160px;
	height: 100px;
}
.hoby-home{
    width: 100%;
    height:auto;
    background-color: #52B3D9;
    text-align: center;
  }

  .hoby-desc{
    width:30%;
    height: auto;
    display: inline-block;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    color:white;
    letter-spacing: 1px;
    
  }
  .hoby-desc > img{
    width:40%;
    height: 40%;

  }
  #title-desc {
    text-align: center;
      color:white;
      font-size: 20px;
      font-weight: 600;
      font-family: Arial;
  }
 #desc{
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color:white;
  }

  @media screen and (max-width: 600px) {
      .hoby-desc {
       width: 100%;
       height: auto;
       padding-top: 3em;
       padding-bottom: 3em;
      
    }
}
 .project-home{
    background-color: #F64747;
    width: 100%;
    height: 50%;
     text-align: center;
  }

  #project-title{
    font-family:Arial;
    font-size:30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding-top: 2em;
  }

  #project-image > img{

    width: 80%;
    height: 60%;
  }


  .footer-home{
    width:100%;
    height: 40px;
    background-color: #3A539B;

    font-family: Arial;
    font-size:16px;
    color: white;
    text-align: center;
    padding-top: 1em;
  }

  .footer-left{
    margin-left: 2em;
    float: left;
  }
  .footer-right{
    margin-right: 2em;
    float:right;
    text-decoration: none;
    color: white;
  }
.fa {
  padding-right: 5px;
}

.footer-right > a{
  text-decoration: none;
  color:white;
}